body {
    background-color: #fff; /* 밝은 배경색 */
    color: #333; /* 텍스트 색상 */
    font-family: Arial, sans-serif; /* 기본 폰트 설정 */
}

/* 예약 폼 스타일 */
#reservationForm {
    max-width: 750px; /* 폼의 최대 너비 */
    margin: 0 auto; /* 가운데 정렬 */
    padding: 20px;
    background-color: #fff; /* 밝은 배경색 */
    border-radius: 10px; /* 모서리를 둥글게 만듦 */
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); /* 약간의 그림자 효과 */

}

/* 입력 필드 스타일 */
.form-group {
    display: flex;
    flex-direction: column;
}

.address-group {
    display: flex;
    justify-content: space-between;
    margin-top: 10px;
}

.address-group input {
    width: 48%;
    padding: 10px;
    border: none;
    border-radius: 5px;
    background-color: #f2f2f2; /* 입력 필드 밝은 배경색 */
    color: #333; /* 입력 텍스트 색상 */
}
/* 예약 폼 스타일 */
#reservationForm {
    max-width: 750px; /* 폼의 최대 너비 */
    margin: 0 auto; /* 가운데 정렬 */
    padding: 20px;
    background-color: #f8f9fa; /* 조금 더 연한 배경색 */
    border-radius: 10px; /* 모서리를 둥글게 만듦 */
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1); /* 조금 더 짙은 그림자 효과 */
}

/* 입력 필드 스타일 */
.form-group {
    margin-bottom: 20px; /* 각 입력 필드 아래 여백 */
}

.address-group {
    display: flex;
    justify-content: space-between;
    margin-top: 10px;
}

.address-group input {
    width: 45%; /* 입력 필드 너비를 조금 더 넓게 설정 */
    padding: 15px; /* 패딩을 더 크게 설정하여 입력 필드 크기 조절 */
    border: 2px solid #ced4da; /* 경계선 추가 */
    border-radius: 8px; /* 조금 더 동글게 모양 변경 */
    background-color: #f8f9fa; /* 입력 필드 밝은 배경색 */
    color: #495057; /* 입력 텍스트 색상 */
    transition: border-color 0.3s; /* 경계선 색상이 변경될 때 부드러운 전환 효과 적용 */
}

/* 입력 필드에 포커스가 갔을 때 테두리 색상 변경 */
.address-group input:focus {
    border-color: #80bdff; /* 포커스가 갔을 때 경계선 색상 변경 */
    outline: none; /* 포커스 효과 제거 */
}

/* 주소 추가 버튼 스타일 */
#addAddressButton {
    background-color: transparent; /* 배경색 투명으로 설정 */
    color: #6c757d; /* 버튼 텍스트 색상 */
    border: 1px solid #7499d9; /* 테두리 설정 */
    border-radius: 5px; /* 버튼 모서리를 둥글게 만듦 */
    padding: 8px 16px; /* 패딩 설정 */
    cursor: pointer; /* 포인터 모양 변경 */
    transition: background-color 0.3s, color 0.3s; /* 배경색과 텍스트 색상 변경 시 부드러운 전환 효과 적용 */
}

/* 마우스를 올렸을 때와 클릭했을 때 배경색 변경 */
#addAddressButton:hover, #addAddressButton:active {
    background-color: #80bdff; /* 버튼 배경색 변경 */
}

/* 제출 버튼 스타일 */
#reservationForm button[type="submit"] {
    background-color: transparent; /* 버튼 배경색 */
    color: #6c757d; /* 버튼 텍스트 색상 */
    border: 1px solid #7499d9; /* 테두리 설정 */
    border-radius: 5px; /* 버튼 모서리를 둥글게 만듦 */
    padding: 8px 16px; /* 패딩 설정 */
    cursor: pointer; /* 포인터 모양 변경 */
    transition: background-color 0.3s, color 0.3s; /* 배경색 변경 시 부드러운 전환 효과 적용 */
    /*    margin-left: auto; !* 왼쪽 여백을 최대로 설정하여 오른쪽으로 이동 *!*/
    /*}*/
}
    /* 마우스를 올렸을 때와 클릭했을 때 배경색 변경 */

    #reservationForm button[type="submit"]:hover,
    #reservationForm button[type="submit"]:active {
        background-color: #80bdff; /* 버튼 배경색 변경 */
    }


