{% extends "mypage_base.html" %}

{% block contents %}
<div class="col-8 col-12-medium imp-medium">
    <div id="content">
        <table>
            <tr>
                <th>공유오피스 이름</th>
                <th>예약 인원</th>
                <th>시작 시간</th>
                <th>종료 시간</th>
                <th>취소</th>
            </tr>
            {% for reservation in reservations %}
                <tr>
                    <td>{{ reservation.so_id.so_name }}</td>
                    <td>{{ reservation.re_people_num }}</td>
                    <td>{{ reservation.re_start_time }}</td>
                    <td>{{ reservation.re_end_time }}</td>
                    <td>
                        {% if reservation.re_cancel == 0 %}
                            <a class="button" href="{% url 'delete_reservation' reservation.id %}">취소</a>
                        {% else %}
                            <p>취소된 예약</p>
                        {% endif %}
                    </td>
                </tr>
            {% endfor %}
        </table>
    </div>
</div>
{% endblock %}