<!DOCTYPE html>
<html lang="en">
    <head>
        {% load static %}
      <meta charset="utf-8" />
      <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
      <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.4.1/font/bootstrap-icons.css" rel="stylesheet" />
      <!-- Core theme CSS (includes Bootstrap)-->
      <link rel="stylesheet" href="{% static 'css/choose.css'%}"/>
    </head>
    <body>
        <form action="{% url 'choose_func' %}" id="findingForm" method="post">
          {% csrf_token %}
          <fieldset class="checkbox-group">
            <legend class="checkbox-group-legend">Choose your Finding</legend>
            <div class="checkbox">
              <label class="checkbox-wrapper">
                <input type="checkbox" name="finding_option" value="near_finding" class="checkbox-input" />
                <span class="checkbox-tile">
                  <span class="checkbox-icon">
                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-crosshair" viewBox="0 0 16 16">
                      <path d="M8.5.5a.5.5 0 0 0-1 0v.518A7 7 0 0 0 1.018 7.5H.5a.5.5 0 0 0 0 1h.518A7 7 0 0 0 7.5 14.982v.518a.5.5 0 0 0 1 0v-.518A7 7 0 0 0 14.982 8.5h.518a.5.5 0 0 0 0-1h-.518A7 7 0 0 0 8.5 1.018zm-6.48 7A6 6 0 0 1 7.5 2.02v.48a.5.5 0 0 0 1 0v-.48a6 6 0 0 1 5.48 5.48h-.48a.5.5 0 0 0 0 1h.48a6 6 0 0 1-5.48 5.48v-.48a.5.5 0 0 0-1 0v.48A6 6 0 0 1 2.02 8.5h.48a.5.5 0 0 0 0-1zM8 10a2 2 0 1 0 0-4 2 2 0 0 0 0 4"/>
                    </svg>
                  </span>
                  <span class="checkbox-label">내 주변 찾기</span>
                </span>
              </label>
            </div>

            <div class="checkbox">
              <label class="checkbox-wrapper">
                <input type="checkbox" name="finding_option" value="together_finding" class="checkbox-input" />
                <span class="checkbox-tile">
                  <span class="checkbox-icon">
                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-pin-map" viewBox="0 0 16 16">
                      <path fill-rule="evenodd" d="M3.1 11.2a.5.5 0 0 1 .4-.2H6a.5.5 0 0 1 0 1H3.75L1.5 15h13l-2.25-3H10a.5.5 0 0 1 0-1h2.5a.5.5 0 0 1 .4.2l3 4a.5.5 0 0 1-.4.8H.5a.5.5 0 0 1-.4-.8z"/>
                      <path fill-rule="evenodd" d="M8 1a3 3 0 1 0 0 6 3 3 0 0 0 0-6M4 4a4 4 0 1 1 4.5 3.969V13.5a.5.5 0 0 1-1 0V7.97A4 4 0 0 1 4 3.999z"/>
                    </svg>
                  </span>
                  <span class="checkbox-label">동료와 함께</span>
                </span>
              </label>
            </div>

            <div class="checkbox">
              <label class="checkbox-wrapper">
                <input type="checkbox" name="finding_option" value="location_finding" class="checkbox-input" />
                <span class="checkbox-tile">
                  <span class="checkbox-icon">
                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-geo-alt" viewBox="0 0 16 16">
                      <path d="M12.166 8.94c-.524 1.062-1.234 2.12-1.96 3.07A32 32 0 0 1 8 14.58a32 32 0 0 1-2.206-2.57c-.726-.95-1.436-2.008-1.96-3.07C3.304 7.867 3 6.862 3 6a5 5 0 0 1 10 0c0 .862-.305 1.867-.834 2.94M8 16s6-5.686 6-10A6 6 0 0 0 2 6c0 4.314 6 10 6 10"/>
                      <path d="M8 8a2 2 0 1 1 0-4 2 2 0 0 1 0 4m0 1a3 3 0 1 0 0-6 3 3 0 0 0 0 6"/>
                    </svg>
                  </span>
                  <span class="checkbox-label">주소로 찾기</span>
                </span>
              </label>
            </div>
            <button type="submit" class="button">Submit</button>
          </fieldset>
        </form>

        <!-- JavaScript를 사용하여 한 번에 하나의 체크박스만 선택되도록 만듭니다. -->
        <script>
          document.addEventListener('DOMContentLoaded', function () {
            // 모든 체크박스를 선택합니다.
            const checkboxes = document.querySelectorAll('.checkbox-input');

            // 각 체크박스에 클릭 이벤트 리스너를 추가합니다.
            checkboxes.forEach(function(checkbox) {
              checkbox.addEventListener('change', function() {
                // 현재 체크박스가 체크되어 있다면,
                if (checkbox.checked) {
                  // 다른 모든 체크박스의 체크를 해제합니다.
                  checkboxes.forEach(function(otherCheckbox) {
                    if (otherCheckbox !== checkbox) {
                      otherCheckbox.checked = false;
                    }
                  });
                }
              });
            });

            // 폼의 submit 이벤트를 처리하여 action URL을 동적으로 설정합니다.
            document.getElementById('findingForm').addEventListener('submit', function(event) {
              event.preventDefault(); // 폼의 기본 제출 동작을 막습니다.

              // 선택된 체크박스의 값을 가져옵니다.
              let selectedValue;
              checkboxes.forEach(function(checkbox) {
                if (checkbox.checked) {
                  selectedValue = checkbox.value;
                }
              });

              // 선택된 값이 있는지 확인합니다.
              if (selectedValue) {
                // action을 설정하고 폼을 제출합니다.
                this.action = "{% url 'choose_func' %}";
                this.submit();
              } else {
                alert('하나의 옵션을 선택하세요.');
              }
            });
          });
        </script>


      </body>
</html>