{% extends 'base.html' %}

{% block content %}
    {% load static %}
						<!-- Banner -->
							<div id="banner">
								<h2><strong>FINDING OFFICE:</strong> <br>RESERVE YOUR OWN SHARE OFFICE!
								<br/>
								</h2>
								<p>YOU CAN RESERVE OPTIMAL SHARE OFFICE WITH COLLEAGUES</p>
								
							</div>

					</div>
				</div>

			<!-- Main Wrapper -->
				<div id="main-wrapper">
					<div class="wrapper style1">
						<div class="inner">

							<!-- Feature 1 -->
								<section class="container box feature1">
									<div class="row">
										<div class="col-12">
											<header class="first major">
												<h2>The features of our website are</h2>
											</header>
										</div>
										<div class="col-4 col-12-medium">
											<section>
                                                {% if request.session.cus_email %}
                                                    <a href="{% url 'together' %}" class="image featured"><img src="{% static 'images/pic01.png' %}" alt="" /></a>
                                                {% else %}
                                                    <a href="{% url 'login' %}" class="image featured"><img src="{% static 'images/pic01.png' %}" alt="" /></a>
                                                {% endif %}
												<header class="second icon solid fa-calendar-check">
													<h3>Share Office Reservation</h3>
                                                    <p>with colleagues</p>
												</header>
											</section>
										</div>
										<div class="col-4 col-12-medium">
											<section>
												{% if request.session.cus_email %}
                                                    <a href="{% url 'together' %}" class="image featured"><img src="{% static 'images/pic02.png' %}" alt="" /></a>
                                                {% else %}
                                                    <a href="{% url 'login' %}" class="image featured"><img src="{% static 'images/pic02.png' %}" alt="" /></a>
                                                {% endif %}
                                                <header class="second icon solid fa-search-location">
													<h3>Share Office Reservation</h3>
                                                    <p>alone</p>
												</header>
											</section>
										</div>
										<div class="col-4 col-12-medium">
											<section>
												{% if request.session.cus_email %}
                                                    <a href="{% url 'mypage' %}" class="image featured"><img src="{% static 'images/pic03.png' %}" alt="" /></a>
                                                {% else %}
                                                    <a href="{% url 'login' %}" class="image featured"><img src="{% static 'images/pic03.png' %}" alt="" /></a>
                                                {% endif %}
                                                <header class="second icon solid fa-user">
													<h3>My Page</h3>
												</header>
											</section>
										</div>
									</div>
								</section>

						</div>
					</div>
					<div class="wrapper style2" id="ranking">
						<div class="inner">
	  
						   <!-- Feature 2 -->
							  <section class="container box feature2">
								 <div class="row">
									<div class="col-12">
									  <header class="major">
									   <h2>Ranking</h2>
									  </header>
                                    </div>
                                 </div>
                                  {% if top_offices %}
                                      <table class="modern-table">
                                        <thead>
                                            <tr>
                                                <th>Rank</th>
                                                <th>Name</th>
                                                <th>Address</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            {% for office in top_offices %}
                                            <tr>
                                                <td>{{ forloop.counter }}</td>
                                                <td>{{ office.name }}</td>
                                                <td>{{ office.address }}</td>
                                            </tr>

                                             {% endfor %}
                                        </tbody>
                                      </table>
                                  {% else %}
                                      <p>현재 순위 데이터를 불러오는 중입니다.</p>
                                  {% endif %}
                              </section>
						</div>
					 </div>

                    <div class="wrapper style3">
						<div class="inner">
							<div class="container">
								<div class="row">
									<div class="col-8 col-12-medium">

										<!-- Article list -->
											<section class="box article-list">
												<h2 class="icon fa-file-alt">OUR SERVICES</h2>

												<!-- Excerpt -->
													<article class="box excerpt">
														<a href="#" class="image left"><img src="{% static 'images/pic01.png' %}" alt="" /></a>
														<div>
															<header>
																<h3>RESERVE WITH COLLEAGUES</h3>
															</header>
															<p>Phasellus quam turpis, feugiat sit amet ornare in, hendrerit in lectus
															semper mod quisturpis nisi consequat etiam lorem. Phasellus quam turpis,
															feugiat et sit amet ornare in, hendrerit in lectus semper mod quis eget mi dolore.</p>
														</div>
													</article>

												<!-- Excerpt -->
													<article class="box excerpt">
														<a href="#" class="image left"><img src="{% static 'images/pic02.png' %}" alt="" /></a>
														<div>
															<header>
																<h3>RESERVE ALONE</h3>
															</header>
															<p>Phasellus quam turpis, feugiat sit amet ornare in, hendrerit in lectus
															semper mod quisturpis nisi consequat etiam lorem. Phasellus quam turpis,
															feugiat et sit amet ornare in, hendrerit in lectus semper mod quis eget mi dolore.</p>
														</div>
													</article>

												<!-- Excerpt -->
													<article class="box excerpt">
														<a href="#" class="image left"><img src="{% static 'images/pic03.png' %}" alt="" /></a>
														<div>
															<header>
																<h3>MY PAGE</h3>
															</header>
															<p>Phasellus quam turpis, feugiat sit amet ornare in, hendrerit in lectus
															semper mod quisturpis nisi consequat etiam lorem. Phasellus quam turpis,
															feugiat et sit amet ornare in, hendrerit in lectus semper mod quis eget mi dolore.</p>
														</div>
													</article>

											</section>
									</div>
                                    <div class="col-4 col-12-medium">
                        <section class="box spotlight">
                            <h2 class="icon fa-file-alt">Our Company</h2>
                            <article>
                                <a href="#" class="image featured"><img src="{% static 'images/logo.png' %}" alt=""></a>
                                <header>
                                    <h3><a href="#">FlexiNest</a></h3>
                                    <p>Welcome to Your Ideal Workspace Solution!</p>
                                </header>
                                <p>At FlexiNest, we understand that the perfect workspace is crucial for productivity and success. That's why we offer a curated selection of coworking spaces based on prime locations and top-notch amenities. Whether you're a freelancer, a startup, or a large corporation, our platform provides you with the flexibility to find and book the ideal office space that meets your unique needs.</p>

                                <p>Our services include:</p>

                                <p>1. Prime Locations: Choose from a variety of premium locations that are easily accessible and in vibrant neighborhoods.</p>
                                <p>2. Top-Notch Amenities: From high-speed internet and modern meeting rooms to comfortable lounge areas and fully stocked kitchens, our coworking spaces are equipped with everything you need to thrive.</p>
                                <p>3. Easy Booking: Our user-friendly platform allows you to quickly search, compare, and reserve the perfect workspace in just a few clicks.</p>
                            </article>
                        </section>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
{% endblock %}