{% extends "mypage_base.html" %}

{% block contents %}
<div class="col-8 col-12-medium imp-medium">
    <div id="content">
        <div class="myinfo-form">
            <form id="customer_form" method="get">
                {% csrf_token %}
                <div class="form-group">
                    <label for="email">이메일</label>
                    <p id="email">{{ customer.cus_email }}</p>
                </div>
                <div class="form-group">
                    <label for="password">비밀번호</label>
                    <p id="password">{{customer.cus_password}}</p>
                </div>
                <div class="form-group">
                    <label for="name">이름</label>
                    <p id="name">{{ customer.cus_name }}</p>
                </div>
                <div class="form-group">
                    <label for="phone">전화번호</label>
                    <p id="phone">{{ customer.cus_phone }}</p>
                </div>
                <div class="form-group">
                    <label for="address">주소</label>
                    <p id="address">{{ customer.cus_address }}</p>
                </div>
            </form>
        </div>
    </div>
</div>

{% endblock %}