{% extends 'base.html' %}


{% block content %}
{% load static %}
    </div>
				<div id="main-wrapper">
					<div class="wrapper style2">
						<div class="inner">
							<div class="container">
								<div class="row">
									<div class="col-4 col-12-medium">
										<div id="sidebar">

											<!-- Sidebar -->

												<section>
													<img src ="{% static 'images/optimal_location.png' %}" alt = 'algorithm' width="300px">
												</section>

												<section>
													<img src = "{% static 'images/shareoffice1.jpg' %}" alt = 'shareoffice1' width="300px">
												</section>

										</div>
									</div>
									<div class="col-8 col-12-medium imp-medium">
										<div id="content">
												<article>
													<header class="major">
                                                        <img src="{% static 'images/logo.png' %}" alt="" height="auto" width="200px"/>
													</header>
                                                    <div class="iframe-container">
													    <iframe src="{%url 'choose_func'%}" height="500" width="100%"></iframe>
                                                    </div>
                                                </article>

										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
                </div>
    </div>
{% endblock %}